{% extends "base.html"%}

{% block content%}
<br>
<div class="row">
	<div class="col-md-4 col-xs-4">
		
	</div>
	<div class="col-md-8 col-xs-8">
		<h2>Categories</h2>
	</div>
</div>
<div class="row">
	<ul class="list-group">
		<div class="col-md-4 col-xs-4"></div>
		<div class="col-md-8 col-xs-8">
{% for category in categories %}
	<li>
		<a href="{{url_for('showCategory', category_id = category.id )}}">
	 		<h3>{{category.name}}</h3>
		</a>
	</li>
{% endfor%}
		</div>
	</ul>
</div>
{% endblock%}